{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="landing"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Carousel slides -->
    <div id="carouselId" class="carousel slide carousel-fade shadow-sm" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for caption in captions %}
                <li data-target="#carouselId" data-slide-to="{{ caption.index|add:'-1' }}" {% if caption.index == 1 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for caption in captions %}
                <div class="carousel-item {% if caption.index == 1 %}active{% endif %} carousel-img{{ caption.index }}">
                    <div class="carousel-caption d-md-block adjusted-pad{{ caption.index }}">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-md-6 offset-md-0 intro-items">
                                    <h1 class="display-5 logo-font text-white">
                                        {{ caption.title }}
                                    </h1>
                                    <h2>
                                        <a href="{% url 'products' %}" class="shop-now-button btn-outline-black btn btn-lg rounded-5 text-uppercase font-weight-bold py-2">Shop Now</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-target="#carouselId" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselId" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>

    <!-- Top Categories -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="home-content col-12">
                <h2 class="text-center mb-4 font-weight-bold">Top Categories</h2>
                <div class="container">
                    <div class="row">
                        <!-- Category Tile 1 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=monitors" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-desktop fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Monitors</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 2 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=laptops" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-laptop fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Laptops</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 3 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=tablets" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-tablet-alt fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Tablets</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 4 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=components" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-cogs fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Components</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 5 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=consoles" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-gamepad fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Consoles</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 6 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=games" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-chess fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Games</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 7 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=accessories" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-headphones fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Accessories</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Category Tile 8 -->
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'products' %}?category=news,deals,clearance" class="card-link">
                                <div class="card bg-black-opacity rounded shadow d-flex flex-column align-items-center justify-content-center my-4">
                                    <i class="fas fa-tags fa-4x text-white mt-3 mb-3"></i>
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-white">Offers</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
