@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito Black', sans-serif;;
}

h2, h3, h4 {
    font-family: 'Nunito Bold', sans-serif;;
}

p {
    font-family: 'Nunito', sans-serif;;
}

.h-100-calc {
    height: calc(100vh - 180px);
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

#mc_embed_signup h2 {
    text-align: center;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sm-divider {
    margin: auto;
    width: 96%;
}

.bag-items {
    padding: 10px;
}

.landing {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: url(../../media/background-home.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.carousel-img1 {
    background: url('/static/img/carousel-img1.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.carousel-img2 {
    background: url('/static/img/carousel-img2.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.carousel-img3 {
    background: url('/static/img/carousel-img3.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.bg-black-opacity {
    background-color: rgba(0, 0, 0, 0.8);
}

/* --- Error Pages --- */
.error-box {
    margin: auto;
    max-width: 95%;
    text-align: center;
}
.error-img img {
    width: 80%;
    padding-bottom: 20px;
}

.pages-link {
    color: var(--black);
    transition: all 0.5s ease 0s;
}
.pages-link:hover,
.pages-link:focus {
    color: var(--red);
}
.error-link {
    background-color: var(--black);
    color: var(--white);
    margin: auto;
    padding: 10px 35px;
    border-radius: 2px;
    border: 0;
    text-align: center;
    max-width: 80%;
    transition: all 0.5s ease 0s; 
}
.error-link:hover,
.error-link:focus {
    color: var(--yellow);
}

.border-nav {
    border-bottom: 2px solid black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes rainbow {
    0% { border-color: violet; }
    16.666% { border-color: indigo; }
    33.333% { border-color: blue; }
    50% { border-color: green; }
    66.666% { border-color: yellow; }
    83.333% { border-color: orange; }
    100% { border-color: red; }
}
  
.border-bottom-rainbow {
    border-bottom: 2px solid transparent;
    animation: rainbow 6s linear infinite; /* 6s for a complete cycle */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

@keyframes rainbow-a {
    0% { color: darkred; }
    16.666% { color: chocolate; }
    33.333% { color: goldenrod; }
    50% { color: darkseagreen; }
    66.666% { color: darkcyan;}
    83.333% { color: mediumpurple; }
    100% { color: darkmagenta; }
}

.logo-text {
    font-family: "Roboto Mono";
    animation: rainbow-a 5s alternate-reverse infinite !important;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.landing-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.disabled-link {
    color: gray; 
    pointer-events: none; 
    text-decoration: none; 
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (max-width: 1186px) {
    .main-logo-link h2 {
        font-size: 155%;
    }
}

@media (max-width: 1280px) and (max-height: 800px) {

    .h-100-calc {
        height: calc(100vh);
    }
}

@media (max-width: 500px) {

    .display-4.logo-font.text-black {
        font-size: 1.5rem;
    }

    .img-fluid {
        max-width: 70%;
    }

    .h-100-calc {
        height: calc(100vh - 80px);
    }

    h2 {
        padding-top: 10px;
        font-size: 1.2rem;
    }

    h3 {
        padding-top: 10px;
        font-size: 1.1rem;
    }

    p {
        padding-top: 10px;
        font-size: 0.8rem;
    }

}

@media (max-width: 330px) {
    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.6rem;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}