{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="d-flex align-items-center justify-content-center h-100-calc">
        <div class="text-center">
            <a class="error-img" href="{% url 'home' %}">
                <img src="{% static 'img/400.png' %}" alt="Home Link">
            </a>
            <h3>Your browser sent a request that the server couldn't understand. Please contact us for assistance.</h3>
            <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-5">Return to Home</a>
        </div>
    </div>
{% endblock %}