{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 offset-lg-2 mt-5">
                <div class="col-8">
                    <a class="error-img" href="{% url 'home' %}">
                        <img src="{% static 'img/500.png' %}" alt="Home Link">
                    </a>
                </div>
                <h2 class="m-0">Sorry, there is an issue with our servers</h2>
                <h2>Please try again later.</h2>
                <h3 class="text-muted mb-1">If the problem persists, please contact us via our</h3> 
                <p><strong><a class="btn btn-black rounded-0" href="{% url 'contact' %}">Contact Page</a></strong>.</p>
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-5">Return to Home</a>
            </div>
        </div>    
    </div>
{% endblock %}