<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" 
                href="{% url 'home' %}" id="home-link">Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" 
                href="#" id="all-products-link" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">All Products
            </a>
            <div class="dropdown-menu border-0" 
                aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" 
                    class="dropdown-item">By Price
                </a>
                <a href="{% url 'products' %}?sort=stars&direction=desc" 
                    class="dropdown-item ">By Rating
                </a>
                <a href="{% url 'products' %}?sort=category&direction=asc" 
                    class="dropdown-item ">By Category
                </a>
                <a href="{% url 'products' %}?category=monitors,laptops,tablets,components,consoles,games,accessories" 
                    class="dropdown-item">All Products
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" 
                href="#" id="categories-link" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">Categories
            </a>
            <div class="dropdown-menu border-0" 
                aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=monitors" 
                    class="dropdown-item">Monitors
                </a>
                <a href="{% url 'products' %}?category=laptops" 
                    class="dropdown-item">Laptops
                </a>
                <a href="{% url 'products' %}?category=tablets" 
                    class="dropdown-item">Tablets
                </a>
                <a href="{% url 'products' %}?category=components" 
                    class="dropdown-item">Components
                </a>
                <a href="{% url 'products' %}?category=consoles" 
                    class="dropdown-item">Consoles
                </a>
                <a href="{% url 'products' %}?category=games" 
                    class="dropdown-item">Games
                </a>
                <a href="{% url 'products' %}?category=accessories" 
                    class="dropdown-item">Accessories
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" 
                href="#" id="offers-link" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="{% url 'products' %}?category=news" 
                    class="dropdown-item">News
                </a>
                <a href="{% url 'products' %}?category=deals" 
                    class="dropdown-item">Deals
                </a>
                <a href="{% url 'products' %}?category=clearance" 
                    class="dropdown-item">Clearance
                </a>
                <a href="{% url 'products' %}?category=news,deals,clearance" 
                    class="dropdown-item">All Offers
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" 
                href="#" id="about-link" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="{% url 'about' %}" 
                    class="dropdown-item">About Us
                </a>
                <a href="{% url 'contact' %}"
                    class="dropdown-item">Contact Us
                </a>
                <a href="{% url 't_and_c' %}" 
                    class="dropdown-item">T&C's
                </a>
                <a href="{% url 'privacy' %}"
                    class="dropdown-item">Privacy
                </a>
            </div>
        </li>
    </ul>
</div>