<form id="editReviewForm" method="POST" action="{% url 'edit_review' review.id %}">
    {% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ form|crispy }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-outline-secondary btn-sm rounded-5 mt-5 text-uppercase font-weight-bold" data-dismiss="modal">Close</button>
            <button type="submit" class="btn-outline-success btn-sm rounded-5 mt-5 text-uppercase font-weight-bold">Save Changes</button>
        </div>
    </div>
</form>