{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Wishlist</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wishlist_item in w %}
                            {{ w }}
                                <tr>
                                    <td>
                                        <div>
                                            {% if wishlist_item.product.image %}
                                                <img class="img-fluid rounded" src="{{ wishlist_item.product.image }}" alt="{{ wishlist_item.product.name }}">
                                            {% else %}
                                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ wishlist_item.product.name }}">
                                            {% endif %}
                                            <p>{{ wishlist_item.product.name }}</p>
                                            <p>SKU: {{ wishlist_item.product.sku|upper }}</p>
                                        </div>
                                    </td>
                                    <td>${{ wishlist_item.product.price }}</td>
                                    <td>
                                        {% if wishlist_item.product.in_stock %}
                                            <p><strong>Available</strong></p>
                                        {% else %}
                                            <p><strong>Out of Stock</strong></p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">Add to Cart</button>
                                        <button class="btn btn-danger">Remove</button>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">Your Wishlist is empty...</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
