{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="text-white">About Us</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Content section-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-5">Welcome to Depo PC</h2>
            <p class="lead text-center">At Depo PC, we're passionate about technology and dedicated to providing you with the latest gadgets, gaming rigs, and cutting-edge innovations.</p>
        </div>
    </div>
</div>
<hr>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-white h-100 d-flex flex-column justify-content-center shadow">
                <div class="card-body">
                    <h2 class="text-center mb-4">Core Team</h2>
                    <p class="lead">At the core of Depo PC is a team of dedicated individuals who live and breathe technology. From gaming rigs to cutting-edge gadgets, we curate a diverse selection that caters to every tech aficionado. Our commitment goes beyond selling – it's about fostering a space where the latest innovations are celebrated, and tech enthusiasts feel at home.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-white h-100 d-flex flex-column justify-content-center shadow">
                <div class="card-body">
                    <h2 class="text-center mb-4">Why Choose Depo PC?</h2>
                    <p class="lead">Because we understand the thrill of unboxing a new gadget, the joy of building the perfect setup, and the excitement of being at the forefront of tech trends. We're not just here to sell; we're here to share the excitement of the ever-evolving tech landscape with you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-secondary py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card bg-dark text-white h-100 d-flex flex-column justify-content-center shadow">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Shop With Confidence</h2>
                        <p class="lead text-center">Our Customer Service is at Your Disposal</p>
                        <p class="text-center">We will do our best to have your shopping experience engaging and up to high standards!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
